{% extends 'AnketaBundle::layout.html.twig' %}

{% block content %}
<h2>Nemáte oprávnenie hlasovať v ankete</h2>
<p>
V ankete môžu hlasovať iba študenti {{ skratka_fakulty }}.
Ďakujeme za pochopenie.
</p>
<p>
Ak študujete na inej fakulte, pozrite sa do <a href="https://anketa.uniba.sk/">zoznamu študentských ankiet</a>.
</p>
<p>
V <a href="https://anketa.uniba.sk/demo/">demo verzii ankety</a> si môžete pozrieť, ako vyzerá hlasovanie.
Odpovede zadané v demo verzii sa nerátajú do normálneho hlasovania.
</p>
{% endblock %}
