/nbproject
/report
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/bootstrap.php.cache
/app/config/config_local.yml
/web/bundles/
/vendor/
/db/
/composer.phar

*~
.DS_Store
.*.sw[a-z]
Thumbs.db
/lint/.phutil_module_cache
